{% extends "base.html" %}
{% load static %} 

{% block content %}

<div class="container-fluid">
      <div class="row">
            <div class="col-12 justify-content-center align-items-center d-none d-md-flex">
                        <div class="welcome-home-style d-flex justify-content-center align-items-center">
                              <div class="w-100"><img id="tardis-card-style" src="static/img/tardis.png" alt="..." class="img-fluid"></div>
                              <div>
                                    <p>Welcome to the Blue Box Shop. Here you can browse and purchase all the Dr. Who merch that you could possibly want.
                                    Shopify handles the payment processing so you can sit back knowing that all transactions are safe & secure. Browse the marketplace, message boards and fan art 
                                    sections without needing to create an account. If you want to make a purchase or interact with the message boards you will need to create a free account. Enjoy!
                                    </p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

{% endblock %}