{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Checkout{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-xl-6">
                Profile for: {{ profile }}
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
   {{ block.super }}
   {{ stripe_public_key|json_script:"id_stripe_public_key" }}
   {{ client_secret|json_script:"id_client_secret" }}
   <script src="{% static 'js/stripe_elements.js' %}"></script>
{%endblock%}