/* Custom styling for base.html */

/* navbar color and style */

#navbar-icon {
    width: 45px;
    height: 45px;
}

.search-btn-style {
    border-radius: 5px;
    width: 4rem;
    border: 1px solid rgba(0, 59, 111, 0.5);
    color: white;
    background-color: rgba(0, 59, 111, 1.0) !important; /* !important to override Bootstrap default */
    border: 0;
}

/* CSS to change hamburger styling */

.navbar-toggler{
    border: 0;
    color: rgba(0, 59, 111, 0);
}

.navbar-toggler:active{
    color: rgba(0, 59, 111, 0);
    border-radius: 5px;
}

.nav-link {
    color: black;
    font-weight:400;
}

.badge {
    height: 1.25rem;
    margin-bottom: 1px;
}

/* body style */

body {
    min-height: 100vh;
    background-color: rgba(0, 59, 111, 0.07);
    display: flex;
    flex-direction: column;
}

.main-div {
    flex: 1;
    
}

.div-align {
    align-content: center;
}

.set-height {
    min-height: 88dvh;
}

/* footer style */

.footer-style {
    background-color: rgba(0, 59, 111, 0.15);
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-style: "Roboto", sans-serif;
    font-weight: 500;
    
}

/* footer that sticks to bottom of screen or bottom of content */


#link-style {
    text-decoration: none;
    color: rgb(0, 59, 111);
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    font-weight: 400;
}

/* homepage styling */

.alert-style {
    width: 100%;
    height: 15rem;
    background-color: rgba(0, 59, 111, 0.15);
    border: 0;
}

#tardis-card-style {
    width: 128px;
    height: 128px;
}

.welcome-home-style {
    width: 100%;
    height: 20dvh;
    border: 0;
    border-radius: 5px;
    padding: 2rem;
    background-color: rgba(0, 59, 111, 0.15);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.banner-style {
    width: 100%;
    height: 20dvh;
    border-radius: 5px;
    opacity: 0.95;  
}

/* shopping cart styling */

.cart-style {
    color: rgb(0, 59, 111);
}

/* delivery banner styling */

#free-delivery {
    color: white;
    height: 5dvh;
    background-color: rgba(0, 59, 111, 0.45);
}

/* icon styling */

.icon-style {
    color: rgb(0, 59, 111) !important;
}

.bs-icon-style {
    color: rgb(0, 59, 111) !important;
    width: 32px;
    height: 32px;

}

/* CSS to change the look of Bootstrap cards used to display products */

.product-image-style {
    width: 150px;
    height: 150px;
    transition-property: all; 
    transition-duration: 0.3s; 
    transition-timing-function: ease; 
}

.product-image-style:hover {
    transform: scale(2);
    border-radius: 5px;
    border: 2px solid rgba(0, 59, 111, 1);
}

.text-style {
    font-family: "Roboto", sans-serif;
}

.image-text-vertical-align {
    display: flex;
    align-items: center;
}

.rating-star-size {
    width: 1rem;
    height: 1rem;
}

.product-detail-image-style {
    width: 400px;
    height: 400px;
    cursor: default;
}

.product-div-height {
    height:73dvh;
}

.card-style {
    border: 0;
}

.card-header {
    background-color: rgba(0, 59, 111, 0.15);
    border: 0;
}

/* Change the look of href link elements */

a {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* Change the look of the Bootstrap carousel image component */

.carousel_img_style {
    height: 350px !important;
    width: 350px !important;
}




