/* CSS tardis icon sizing */
#navbar-icon {
  width: 45px;
  height: 45px;
}

/* CSS to change search box and button style */
.search-btn-style {
  border-radius: 5px;
  width: 4rem;
  border: 1px solid rgba(0, 59, 111, 0.5);
  background-color: rgba(
    0,
    59,
    111,
    1
  ) !important; /* !important to override Bootstrap default */
  border: 0;
}

.search-btn-style1 {
  border-radius: 0 !important; /* !important to override Bootstrap default */
  width: 4rem;
  border: 1px solid rgba(0, 59, 111, 0.5);
  background-color: rgba(
    0,
    59,
    111,
    1
  ) !important; /* !important to override Bootstrap default */
  border: 0;
}

.navbar-search-style {
  border-radius: 0;
  border: 0;
}

/* CSS to style the hamburger in the navbar */
.navbar-toggler {
  border: 0;
  color: rgba(0, 59, 111, 0);
}

.navbar-toggler:active {
  color: rgba(0, 59, 111, 0) !important;
  border: 0;
}

.nav-link {
  color: black;
  font-weight: 400;
}

.badge {
  height: 1.25rem;
  margin-bottom: 1px;
}

/* CSS to style the body */
body {
  min-height: 100vh;
  background-color: rgba(0, 59, 111, 0.07);
  display: flex;
  flex-direction: column;
}

.main-div {
  flex: 1;
}

.div-align {
  align-content: center;
}

.set-height {
  min-height: 88dvh;
}

/* CSS to style the footer */
.footer-style {
  background-color: rgba(0, 59, 111, 0.15);
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

#link-style {
  text-decoration: none;
  color: rgb(0, 59, 111);
}

.btn-primary {
  border-radius: 5px;
  border: 0;
  font-weight: 400;
}

/* CSS to style the homepage */
.alert-style {
  width: 100%;
  height: 15rem;
  background-color: rgba(0, 59, 111, 0.15);
  border: 0;
}

#tardis-card-style {
  width: 128px;
  height: 128px;
}

.welcome-home-style {
  width: 100%;
  min-height: 20dvh;
  border: 0;
  border-radius: 5px;
  padding: 2rem;
  background-color: rgba(0, 59, 111, 0.15);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.banner-style {
  width: 100%;
  height: 20dvh;
  border-radius: 5px;
  opacity: 0.95;
}

/* CSS to style the shopping cart */
.cart-style {
  color: rgb(0, 59, 111);
}

/* CSS to style the delivery banner */
#free-delivery {
  color: white;
  min-height: 7dvh;
  background-color: rgba(0, 59, 111, 0.85);
}

/* CSS to style the icons */
.icon-style {
  color: rgb(
    0,
    59,
    111
  ) !important; /* !important to override Bootstrap default */
}

.bs-icon-style {
  filter: invert(15%) sepia(74%) saturate(1867%) hue-rotate(192deg)
    brightness(89%) contrast(103%);
  width: 32px;
  height: 32px;
}

.bs-icon-style1 {
  filter: invert(86%) sepia(100%) saturate(1%) hue-rotate(178deg)
    brightness(104%) contrast(101%);
  width: 32px;
  height: 32px;
}

.fade-in {
  animation: fadeIn 1.25s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CSS to change the look of Bootstrap cards used to display products */
.product-image-style {
  width: 150px;
  height: 150px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.product-image-style:hover {
  transform: scale(2);
  border-radius: 5px;
}

.text-style {
  font-family: "Roboto", sans-serif;
}

.image-text-vertical-align {
  display: flex;
  align-items: center;
}

.rating-star-size {
  width: 1rem;
  height: 1rem;
}

.product-detail-image-style {
  width: 700px;
  height: 700px;
  border-radius: 5px;
  cursor: default;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.product-detail-image-style:hover {
  transform: scale(1.5);
  border-radius: 5px;
}

.product-detail-text-style {
  background-color: white;
  border-radius: 5px;
}

.product-div-height {
  height: 73dvh;
}

.card-style {
  border: 0;
}

.card-header {
  background-color: rgba(0, 59, 111, 0.15);
  border: 0;
}

/* CSS to change the look of the Bootstrap buttons for keep shopping, add to cart and quantity window */
.btn-keep-shopping {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 0;
  border: 1px solid rgba(0, 59, 111, 0.8);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.btn-keep-shopping:hover {
  background-color: rgba(0, 59, 111, 0.4);
  border: 1px solid rgba(0, 59, 111, 0.8);
  color: black;
  border-radius: 0;
}

.btn-add-to-cart {
  background-color: rgba(0, 59, 111, 0.8);
  color: white;
  border-radius: 0;
  border: 1px solid rgba(0, 59, 111, 0.8);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.btn-add-to-cart:hover {
  background-color: rgba(0, 59, 111, 0.4);
  color: black;
}

.quantity-style {
  border-radius: 0;
  border: 1px solid rgba(0, 59, 111, 0.8) !important;
  font-family: "Roboto", sans-serif;
}

.dropdown-item-style {
  background-color: rgba(0, 59, 111, 0);
  color: black;
  border-radius: 0;
  border: 0;
}

.dropdown-item-style:hover {
  background-color: rgba(0, 59, 111, 0.25);
  color: black;
  border-radius: 0;
  border: 0;
}

/* To remove black border around hamburger menu */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/* CSS to change the look of <a> href link elements */
.a-style {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* CSS to change the look of the Bootstrap form tag elements */
.tag-btn-style {
  color: black;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 2px;
  font-family: "Roboto", sans-serif;
  width: 10rem;
}

.tag-btn-style:hover {
  background-color: rgba(
    0,
    59,
    111,
    0.5
  ) !important; /* !important to override Bootstrap default */
  border: 0;
  color: white;
}

.tag-btn-style:active {
  background-color: rgba(
    0,
    59,
    111,
    1
  ) !important; /* !important to override Bootstrap default */
}

.shop-button-style {
  color: black;
  border: 0;
  border-radius: 0;
  width: 10rem;
  padding: 0;
  margin: 2px;
  font-family: "Roboto", sans-serif;
}

.shop-button-style:hover {
  background-color: rgba(
    0,
    59,
    111,
    0.4
  ) !important; /* !important to override Bootstrap default */
  border: 0;
  color: white;
}

.shop-button-style:active {
  background-color: rgba(
    0,
    59,
    111,
    1
  ) !important; /* !important to override Bootstrap default */
}

/* Change the look of the Bootstrap offcanvas elements */
.offcanvas-body {
  background-color: rgba(0, 59, 111, 0.25);
}

.offcanvas-text-style-header {
  font-size: 1.5rem;
  font-weight: 500;
}

.offcanvas-text-style {
  font-family: "Roboto", sans-serif;
}

.rating-style:hover {
  cursor: pointer;
  background-color: rgba(0, 59, 111, 0.45);
}

/* CSS to style the 'Back to Top' button */
#topButton {
  display: none;
  position: fixed;
  bottom: 200px;
  right: 25px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 59, 111, 0.4);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

#topButton:hover {
  background-color: rgba(0, 59, 111, 0.8);
}

.bs-icon-style1 {
  width: 48px;
  height: 48px;
}

#backButton {
  position: fixed;
  top: 370px;
  left: 25px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 59, 111, 0.4);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

#backButton:hover {
  background-color: rgba(0, 59, 111, 0.8);
}

/* CSS to style products and icons in shopping cart */
.cart-image-style {
  width: 24px;
  height: 24px;
}

.bs-bin-style {
  filter: invert(11%) sepia(84%) saturate(6192%) hue-rotate(358deg)
    brightness(112%) contrast(110%);
  width: 20px;
  height: 20px;
}

/* CSS to style the checkout page */
.table-style {
  border-radius: 5px;
}

.table-data-style {
  font-family: "Roboto", sans-serif;
}

.update-icon-style {
  filter: invert(15%) sepia(74%) saturate(1867%) hue-rotate(192deg)
    brightness(89%) contrast(103%);
  width: 24px;
  height: 24px;
}

.btn-checkout-style {
  border-radius: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.btn-backto-shop {
  border-radius: 0px;
  background-color: rgba(0, 59, 111, 0.8);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.btn-backto-shop:hover {
  border-radius: 0px;
  background-color: rgba(0, 59, 111, 0.4);
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.btn-backto-shop:active {
  border-radius: 0px;
  background-color: rgba(
    0,
    59,
    111,
    0.8
  ) !important; /* !important to override Bootstrap default */
  color: white !important; /* !important to override Bootstrap default */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* CSS for under construction holding page */
.under-construction-text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 2px solid rgba(0, 59, 111, 0.8);
  height: 3rem;
}

.under-construction-text:hover {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 2px solid green !important;
  background-color: rgb(6, 223, 6);
  color: white;
  height: 3rem;
}

/* CSS for django allauth styles */
.container-style {
  height: 98dvh;
}

.google-style {
  height: 48px;
  width: 48px;
}

#allauth-tardis {
  width: 128px;
  height: 128px;
  position: absolute;
  bottom: 10px;
  left: 0;
}

/* Change focus on all inputs incl. allauth */
*:focus {
  outline: none;
}

/* CSS to style the Stripe payments page */
.bs-icon-style2 {
  filter: invert(31%) sepia(46%) saturate(1865%) hue-rotate(321deg)
    brightness(97%) contrast(105%);
  width: 16px;
  height: 16px;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: 0.5rem;
}

#payment-form .form-control,
#card-element {
  color: #000;
  border: 1px solid #000;
}

/* CSS to style the Profile page */
.order-history-style {
  max-height: 75dvh;
  overflow-y: auto;
}