/* Custom styling for base.html */

/* navbar color and style */

#navbar-icon {
    width: 45px;
    height: 45px;
}

.search-btn-style {
    border-radius: 5px;
    width: 4rem;
    border: 1px solid rgba(0, 59, 111, 0.5);
    color: white;
    background-color: rgba(0, 59, 111, 1.0) !important; /* !important to override Bootstrap default */
    border: 0;
}

/* CSS to change hamburger styling */

.navbar-toggler{
    border: 0;
    color: rgba(0, 59, 111, 0);
}

.navbar-toggler:active{
    color: rgba(0, 59, 111, 0);
    border-radius: 5px;
}

.nav-link {
    color: black;
    font-weight:400;
}

.badge {
    height: 1.25rem;
    margin-bottom: 1px;
}

/* body style */

body {
    height: 100dvh;
    background-color: rgba(0, 59, 111, 0.07);
}

/* footer style */

.footer-style {
    background-color: rgba(0, 59, 111, 0.15);
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-style: "Roboto", sans-serif;
    font-weight: 500;
    
}

/* footer that sticks to bottom of screen or bottom of content */

.fix-footer-pos {
    min-height: 69dvh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto !important;
}

#link-style {
    text-decoration: none;
    color: rgb(0, 59, 111);
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    font-weight: 400;
}

/* homepage styling */

.alert-style {
    width: 100%;
    height: 15rem;
    background-color: rgba(0, 59, 111, 0.15);
    border: 0;
}

#tardis-card-style {
    width: 128px;
    height: 128px;
}

.welcome-home-style {
    width: 100%;
    height: 20dvh;
    border: 0;
    border-radius: 5px;
    padding: 2rem;
    background-color: rgba(0, 59, 111, 0.15);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/* shopping cart styling */

.cart-style {
    color: rgb(0, 59, 111);
}

/* delivery banner styling */

#free-delivery {
    color: white;
    height: 5dvh;
    background-color: rgba(0, 59, 111, 0.45);
}

/* icon styling */

.icon-style {
    color: rgb(0, 59, 111) !important;
}

.bs-icon-style {
    color: rgb(0, 59, 111) !important;
    width: 32px;
    height: 32px;

}

/* CSS to change the look of Bootstrap cards used to display products */

.product-image-style {
    width: 150px;
    height: 150px;
}

.card-style {
    font-style: "Roboto", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    border: 0;
}

.card-header {
    background-color: rgba(0, 59, 111, 0.15);
    font-style: "Roboto", sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    border: 0;
}

.button-style {
    border: 0;
    padding: 0;
    margin: 0;
}

/* Change the look of href link elements */

a {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}


