{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% block meta %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An e-commerce site called The Blue Box Shop specialising in Dr. Who merchandise">

    {% endblock %}

    {% block font %}

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    {% endblock %}


    {% block css %}

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    {% endblock %}

    <title>The Blue Box Shop {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    
    <!-- Bootstrap5.3.3 navbar customised -->
    <header>
      <div class="container-fluid py-2 mx-0 w-100 g-0">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid navbar-color-style">
            <a class="navbar-brand a-style" href="#">
              <img src="{% static 'img/tardis.png' %}" id="navbar-icon" alt="Tardis Icon"></a>
            <button
              class="navbar-toggler"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link a-style" aria-current="page" href="{% url 'home_page:home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link a-style" role="button" data-bs-toggle="offcanvas" aria-current="page" href="#shopCategories"
                    >Shop</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link a-style" aria-current="page" href="{% url 'boards' %}">Message Boards</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link a-style" aria-current="page" href="{% url 'fanart' %}">Fan Art</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle a-style" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    My Account
                  </a>
                  <ul class="dropdown-menu" aria-label="user-options">

                    {% if request.user.is_authenticated %}

                        {% if request.user.is_superuser %}

                            <li><a class="dropdown-item a-style" href="">Admin</a></li>

                        {% endif %}

                        <li><a class="dropdown-item a-style" href="#">My Profile</a></li>
                        <li><a class="dropdown-item a-style" href="{% url 'account_logout' %}">Logout</a></li>

                    {% else %}

                        <li><a class="dropdown-item a-style" href="{% url 'account_signup' %}">Create Account</a></li>
                        <li><a class="dropdown-item a-style" href="{% url 'account_login' %}">Login</a></li>   

                    {% endif %}
                    
                  </ul>
                </li>
                <li class="nav-item align-self-center ps-lg-5 pt-2 pt-lg-1 d-flex">
                  <a href="{% url 'view_cart' %}" class="a-style" title="shopping trolley">
                    <img class="bs-icon-style" src="{% static 'img/bootstrap_icons/cart3.svg' %}" alt="Bootstrap cart">
                  </a>
                  <span class="badge text-bg-success">

                    {% if total_cost %}

                      £{{ total_cost|floatformat:2 }}

                    {% else %}

                      £0.00

                    {% endif %}

                  </span>
                </li>
              </ul>
              <form class="d-flex" role="search" method="GET" action="{% url 'products' %}">
                <input
                  class="form-control me-2 navbar-search-style" type="text" name="q" placeholder="Search the shop" aria-label="Search">
                <button
                  class="form-control btn btn-sm btn-primary search-btn-style" title="search" type="submit">
                  <img class="bs-icon-style1" src="{% static 'img/bootstrap_icons/search.svg' %}" alt="Search Icon">
                </button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- Bootstrap off canvas menu with custom CSS styling -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="shopCategories" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasLabel" class="offcanvas-title offcanvas-text-style offcanvas-text-style-header">Blue Box Shop</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        
        <p class="text-center"><a href="{% url 'products' %}" class="btn btn-lg btn-outline-primary shop-button-style">SHOP ALL</a></p>

        <p class="text-center offcanvas-text-style pt-1 fw-bold">Shop by Categories</p>

        <div class="d-flex flex-column align-items-center">

        {% for cat in categories %}

        <div>

          <a href="{% url 'products' %}?category={{ cat.name }}" class="btn btn-sm btn-outline-primary tag-btn-style">{{ cat.display_name }}</a>

        </div>

        {% endfor %}
        
        </div>
        <p class="text-center offcanvas-text-style pt-4 fw-bold">Go full nerd and search by Doctor</p>

        <div class="d-flex flex-column align-items-center">

          {% for doctor in doctors %}
  
          <div>
            <a href="{% url 'products' %}?q={{ doctor.name }}" class="btn btn-sm btn-outline-primary tag-btn-style">{{ doctor.name }}</a>
          </div>
  
          {% endfor %}

          <p class="text-center offcanvas-text-style pt-4 fw-bold">Search by price</p>
          <a href="{% url 'products' %}?price=0-10" class="tag-btn-style a-style text-center">upto £10</a>
          <a href="{% url 'products' %}?price=10-50" class="tag-btn-style  a-style text-center">£10 - £50</a>
          <a href="{% url 'products' %}?price=50-100" class="tag-btn-style  a-style text-center">£50 - £100</a>
          <a href="{% url 'products' %}?price=100-101" class="tag-btn-style a-style text-center">over £100</a>

          <p class="text-center offcanvas-text-style pt-4 fw-bold">Search by rating</p>
          <div class="text-center">
          <a href="{% url 'products' %}?rating=0-1" class="rating-style a-style "><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"></a> / 
          <a href="{% url 'products' %}?rating=1-2" class="rating-style  a-style"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"></a> /
          <a href="{% url 'products' %}?rating=2-3" class="rating-style  a-style"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"></a> /
          <a href="{% url 'products' %}?rating=3-4" class="rating-style a-style"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"></a> /
          <a href="{% url 'products' %}?rating=4-5" class="rating-style a-style"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"><img class="pb-1 rating-star-size"
            src="{% static 'img/bootstrap_icons/star.svg' %}" alt="ratings star"></a>
          </div>  
          </div>
          <form class="d-flex pt-5" role="search" method="GET" action="{% url 'products' %}">
            <input
              class="form-control me-2 navbar-search-style" type="text" name="q" placeholder="Search the shop" aria-label="Search">
            <button
              class="form-control btn btn-sm btn-primary search-btn-style1" title="search" type="submit">
              <img class="bs-icon-style1" src="{% static 'img/bootstrap_icons/search.svg' %}">
            </button>
          </form>
      </div>
    </div>

  <div class="main-div d-flex">

    {% if messages %}
      <div class="toast-container top-75 end-0 p-3 ">
        {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
      </div>
    
    {% endif %}

    {% block content %} {%endblock %}

    <button id="topButton" title="Back to top"><img class="bs-icon-style1 fade-in" src="{% static 'img/bootstrap_icons/arrow-up-circle-fill.svg' %}"></button>
    
    {% if search_term != None %}

    <a href="{% url 'products' %}" id="backButton" title="Back to all items"><img class="bs-icon-style1 fade-in" src="{% static 'img/bootstrap_icons/arrow-left-circle-fill.svg' %}"></a>

    {% endif %}

  </div>   
  <footer>
    <div class="container-fluid">
      <div class="row d-flex text-center align-items-center mt-2" id="free-delivery">
        <div class="col-12 ">
          <h5>Free delivery on all orders over £{{ free_delivery }}</h5>
        </div>

      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-between align-items-center footer-style">
          <div><a href="#" id="link-style">&copy; 4uxdesign 2024</a></div>
          <div class="w-25 d-flex justify-content-evenly">
            <a href="#"><img class="bs-icon-style" alt="Discord Icon" src="{% static 'img/bootstrap_icons/discord.svg' %}"></a>
            <a href="#"><img class="bs-icon-style"  alt="Email Icon" src="{% static 'img/bootstrap_icons/envelope.svg' %}"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  

  {% block js %}

    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous">
    </script>
    <!-- Stripe JS -->
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    $('.toast').toast('show');
    });
    </script>

    {% endblock %}

    {% block postloadjs %}
    
    {% endblock %}

  </body>
</html>
