{% extends "base.html" %}
{% load static %}

{% block product_content %}

<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-12 col-md-6 col-lg-4 m-1">
            <div class="card card-style">
                <div class="card-header mb-1 text-center">
                    {{ product.category.display_name }}
                </div>
                <div class="d-flex justify-content-center">

                    {% if product.image %}
    
                    <a href="#">
                        <img src="{{ product.image_url }}" class="card-img-top product-detail-image-style mx-auto" alt="{{ product.name }}">
                    </a>
    
                    {% else %}
    
                    <a href="#">
                        <img src="{{ MEDIA_URL }} no_image.webp" class="card-img-top product-detail-image-style mx-auto" alt="{{ product.name }}">
                    </a>
    
                    {% endif %}
    
                </div>
                <div class="card-body">
                    <p class="card-text text-style text-center"><strong>{{ product.name }}</strong></p>
                    <p class="card-text text-style fw-light text-start">{{ product.description }}</p>
                    

                    

                    <div class="card-text">
                   
                    <p class="card-text text-style"><strong>£{{ product.price }}</strong></p>
                  
                    {% if product.rating %}
                
                    <p class="image-text-vertical-align"><img class="pe-1 rating-star-size" src="{% static 'img/bootstrap_icons/star.svg' %}">{{ product.rating }}</p>
              
                    {% else %}

                    <p class="card-text text-style fw-light">Not yet rated</p>

                    {% endif %}

                    <p><strong>Tags: </strong>

                    

                    {% for tag in tags %}

                    <a href="#" class="tag-link-style">{{ tag }} </a>

                    {% endfor %}
                    </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}